.agency_about_bg_img {
  background-image: url("../../Assets/images/agency-about-vector-bg.png");
  background-repeat: no-repeat;
  background-size: 20vw 100vh;
}

.agency_about_wrapper {
  display: grid;
  grid-template-columns: 55% 50%;
  gap: 80px;
}

.agency_about_contents {
  display: flex;
  flex-direction: column;
  gap: 45px;
}

.agency_contents_icon {
  margin-bottom: -3.5rem;
  margin-left: -1.5rem;
}

.agency_about_items {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

.agency_about_Titles {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.agency_about_img img {
  margin-top: 8rem;
}

/* Responsive area starts from here */
@media only screen and (max-width: 1350px) {
  .agency_about_wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: -4rem;
    gap: 2rem;
  }

  .agency_about_content {
    font-size: 1.5rem;
  }

  .agency_about_content h4 {
    font-size: 1rem;
  }

  .agency_about_contents h2 {
    font-size: 40px !important;
  }
}

@media only screen and (max-width: 1080px) {
  .agency_about_wrapper {
    grid-template-columns: 100%;
    gap: 1rem;
  }

  .agency_about_img img {
    margin-top: 4rem;
  }

  .agency_about_contents {
    gap: 30px;
  }

  .agency_contents_icon {
    margin-bottom: -2rem;
  }
}

@media only screen and (max-width: 730px) {
  .agency_about_wrapper {
    grid-template-columns: 100%;
  }

  .agency_about_img img {
    margin-top: 4rem;
  }

  .agency_about_contents {
    gap: 30px;
  }
  .agency_contents_icon {
    margin-bottom: -2rem;
  }
}

/* Responsive area starts from here */
