.team_member_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.team_member_img {
  margin-bottom: 50px;
}

/* Responsive area starts from here */

@media only screen and (max-width: 767px) {
  .team_member_img {
    margin-bottom: 2rem;
  }
}

/* Responsive area ends here */
